# List and Tupple
* List Define by []
* Tuple define by ()

In [1]:
list1=["Fruit","Mango","Avogado", "Apple","Banana"]

In [2]:
print(list1[1:3])  #strat from 1 and will print before 3, list start from 0

['Mango', 'Avogado']

In [3]:
print(list1[-4:-1]) #from last 4th element to before last; last element start from -1

['Mango', 'Avogado', 'Apple']

In [4]:
print(list1[-3:])  #from last 3 element

['Avogado', 'Apple', 'Banana']

In [5]:
list1.append("Guhava") #add item at last
print(list1)

['Fruit', 'Mango', 'Avogado', 'Apple', 'Banana', 'Guhava']

In [6]:
list1.insert(1,"Grapes") ##add at 1t position; add before 1th position
print(list1)

['Fruit', 'Grapes', 'Mango', 'Avogado', 'Apple', 'Banana', 'Guhava']

In [7]:
list1.insert(-1,"Melon")  #it will add from last at 2nd last, if you want to add at last use .append() function
print(list1)

['Fruit', 'Grapes', 'Mango', 'Avogado', 'Apple', 'Banana', 'Melon', 'Guhava']

In [8]:
# list1.pop(0)  #pop 2nd position
# print(list1)

In [9]:
# del list1[0:2]
# print(list1)

In [10]:
list2=[1,2,3,4,5]

print(list2)

[1, 2, 3, 4, 5]

In [11]:
#for loop to add 2 list
for i in list2:
    list1.append(i)

print(list1)

[1, 2, 3, 4, 5]

In [12]:
print(list1)

['Fruit', 'Grapes', 'Mango', 'Avogado', 'Apple', 'Banana', 'Melon', 'Guhava', 1, 2, 3, 4, 5]

In [14]:
list1.extend(list2)  #add list 2 to list 1

print(list1)

['Fruit', 'Grapes', 'Mango', 'Avogado', 'Apple', 'Banana', 'Melon', 'Guhava', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [15]:
if "Grapes" in list1:
    print("Data Exsist")
else:
    print("Data not preset")

Data Exsist

In [33]:
list3=[1,2,3,4,5]
list3.append([5,7,8]) #add another list at end
print(list3)

[1, 2, 3, 4, 5, [5, 7, 8]]

In [24]:
tuple1=(1,2,3,4,5,6)
print(tuple1[-4:-1])  ##from last 4th element to before last; last element start from -1
print(tuple1[-4:])  #from last 4th element to last element

(3, 4, 5)
(3, 4, 5, 6)

In [25]:
for i in tuple1:
    print(i)

1
2
3
4
5
6

In [2]:
tuple2=(1,2,3,4,5,6)
tuple2.index(6)  #print the index

if tuple1==tuple2:
    print("Same data in 2 tuple")

5

In [27]:
if 2 in tuple2:
    print("Data exsist")

Data exsist

In [31]:
#tuple cannot change, need to change to list and again convert to tuple
list1=list(tuple1)
print(list1)
list1.insert(-4,"A")   #inseet before -4 position
print(list1)
list1.insert(4,"B")    #inseet before 4 position
print(list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 'A', 3, 4, 5, 6]
[1, 2, 'A', 3, 'B', 4, 5, 6]

In [32]:
tuple1=tuple(list1)
print(tuple1)

(1, 2, 'A', 3, 'B', 4, 5, 6)