In [4]:
def Hello(*args,**kwargs):
    print(args)
    print(kwargs)
    
Hello('Sayantan','nath',age=35,empid=1231253)

('Sayantan', 'nath')
{'age': 35, 'empid': 1231253}

In [18]:
name=['sayantan','nath']
age={'age':35,'height':167}
Hello(name,age)  #consider name and age both as positional arguments
Hello(*name,**age)

(['sayantan', 'nath'], {'age': 35, 'height': 167})
{}
('sayantan', 'nath')
{'age': 35, 'height': 167}

In [33]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

def calculate(list1):
    odd_sum=0
    even_sum=0
    for i in list1:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    # return odd_sum,even_sum  #default returm is tuple
    return[odd_sum,even_sum]

calculate(list1)

[49, 56]

In [68]:
var= lambda x:x%2==0

In [70]:
lst1=[1,2,3,4]
# var(lst1)
# filter
sum(filter(var,lst1))

6

In [19]:
lst1=[1,2,3,4,5,6,7,8,9,10]

var1=filter(lambda x: x%2==0,lst1)

In [41]:
next(var1)

StopIteration:

In [72]:
var= lambda a,b: a+b

var(4,5)

9

In [7]:
lst2=[1,2,3,4,5,6,7,8,9,10]

In [9]:
lst3=[i*i for i in lst2 if i%2==0]

In [11]:
lst3

[4, 16, 36, 64, 100]

In [3]:
class emp():
    def __init__(self,name,salary,age):
        self.name=name
        self.salary=salary
        self.age=age
    def display(self):
        print('name={name},salary={sal},age={ag}'.format(name=self.name,sal=self.salary,ag=self.age))

In [5]:
emp1=emp('nath',2000,35)
emp1.display()

name=nath,salary=2000,age=35

In [26]:
class Manager(emp):
    def __init__(self,name,salary,age,designation):
        super().__init__(name,salary,age)
        self.designation=designation
    def mdisplay(self):
        print('name={name},salary={sal},age={ag},desig={desig}'.format(name=self.name,sal=self.salary,ag=self.age,desig=self.designation))

In [28]:
man1=Manager('nath',2000,35,'mananger')

In [33]:
man1.mdisplay(), man1.display()

name=nath,salary=2000,age=35,desig=mananger
name=nath,salary=2000,age=35

(None, None)