# Set & Dictionary 
- set is a collection which is unordered and unindex. set is define by {}
- key and value pair store in dictionary- #its unordered, indexed and changeable(mutable)

In [2]:
set1={1,1,2,3,4,5,6,7,8,1,9} ##duplicate not allowed
for i in set1:
    print(i)
print(set1)

1
2
3
4
5
6
7
8
9
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
set2={"Apple","Banana","Orange","Grapes",7,8}
print (set2)

{'Apple', 'Banana', 'Grapes', 7, 8, 'Orange'}

In [3]:
set2.add("Pie")  #add to set
print(set2)

{'Apple', 'Banana', 'Grapes', 7, 8, 'Pie', 'Orange'}

In [4]:
set2.update(["Avogado","Potato"])  #bulk update set
print(set2)

{7, 8, 'Banana', 'Pie', 'Avogado', 'Apple', 'Potato', 'Grapes', 'Orange'}

In [6]:
set2.discard("Apple")
print(set2)

{7, 8, 'Banana', 'Pie', 'Avogado', 'Potato', 'Grapes', 'Orange'}

In [8]:
#add 2 set by union
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Potato', 'Banana', 'Grapes', 'Orange', 'Pie', 'Avogado'}

In [9]:
#join set by update()
print(set1)
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Potato', 'Banana', 'Grapes', 'Orange', 'Pie', 'Avogado'}

In [13]:
set4={"Avenger", "Hitman","Hulk", "Batman","Heman"}
set5= {"Avenger","Hitman","Hulk","Superman"}
print(set5.difference(set4))   #difference in set 5
print(set4.difference(set5))   #difference in set4

set5.difference_update(set4)   #update the different in set 5
print(set5)

{'Superman'}
{'Heman', 'Batman'}
{'Superman'}

In [17]:
set4={"Avenger", "Hitman","Hulk", "Batman","Heman"}
set5= {"Avenger","Hitman","Hulk","Superman"}
print(set4.intersection(set5))   #intersection common between 2 set
print(set5.intersection(set4))

set5.intersection_update(set4)  #update common value in set5
print(set5)

{'Hulk', 'Hitman', 'Avenger'}
{'Hulk', 'Hitman', 'Avenger'}
{'Hulk', 'Hitman', 'Avenger'}

In [18]:
#Dictipnary
dic1={101:"A",102:"B",103:"C",104:"D"}
print(dic1)
print(dic1.values())  #print the values
print(dic1[101]) #print valuse from key

{101: 'A', 102: 'B', 103: 'C', 104: 'D'}
dict_values(['A', 'B', 'C', 'D'])
A

In [19]:
for i in dic1:  #traverse through key
    print(i) #print the keys only
    print(dic1[i]) #print the values
    print(dic1.get(i)) #print the values

101
A
A
102
B
B
103
C
C
104
D
D

In [20]:
for i in dic1.values():   #traverse through values
    print(i)

A
B
C
D

In [14]:
print(dic1.items())  #print the value and key

for x,y in dic1.items():  #traverse through key value pair
    print(x,y)

dict_items([(101, 'A'), (102, 'B'), (103, 'C'), (104, 'D')])
101 A
102 B
103 C
104 D

In [22]:
dic1[105]="E"   #add key and value
dic1[101]="ASD"  #by mentioning same key, will update the exsisting value
print(dic1.values())
print(dic1.items())

dict_values(['ASD', 'B', 'C', 'D', 'E'])
dict_items([(101, 'ASD'), (102, 'B'), (103, 'C'), (104, 'D'), (105, 'E')])

In [16]:
dic1.pop(104)
print(dic1)

{101: 'A', 102: 'B', 103: 'C', 105: 'E'}

# Nested Dictionary

In [27]:
car1_model={'Mercedes':1960}
car2_model={'BMW':1990}
car3_model={'Audi':2004}

car={'car1':car1_model,'car2':car2_model,'car3':car3_model} #nested dictionary, dictionary in naother dictionary
print(car)

print(car['car1'])   ##print the vale for the key car1

print(car['car1']['Mercedes'])  #print the value for the nested dictionary

{'car1': {'Mercedes': 1960}, 'car2': {'BMW': 1990}, 'car3': {'Audi': 2004}}
{'Mercedes': 1960}
1960